<template name="application">
	{{> navbarTemplate}}
	{{> Template.dynamic template=main}}
</template>

<template name="navbarTemplate">
    <div class="navbar-top clearfix">
    	<div class="menu-item-container">
    		<button id="about" name="navbar-menu-button" class='btn menu-button'>About</button>
			<button id="feature" name="navbar-menu-button" class='btn menu-button'>Features</button>
			<button id="contact" name="navbar-menu-button" class='btn menu-button'>Contact</button>
    	</div>
		<div class="signup-container">
			<button class='btn menu-button'>Register</button>
			<button class='btn menu-button'>Log In</button>
		</div>
	</div>
</template>


