<template name="sidebarTemplateBody">
	<div class="sidebar clearfix">
		<!--<li><a href="overview.html"><span class="icon color5"><i class="fa fa-home"></i></span>Dashboard</a></li>-->
		<ul class="sidebar-panel nav" style='border-top: none !important;'>
		
			<li class='nav'>
		  	  <a class='sidebar-link base-link v-block' style='display:flex;'>
		  	  	<div class='v-centered sidebar-icon-container'>
		  		  <span class="v-centered sidebar-icon"><i class="fa fa-info"></i></span>
		  		</div>
		  		<div class='v-centered sidebar-label-container'>
		  		  <span class="v-centered">About</span>
		  		</div>
		  	  </a>
		    </li>
		    <li class='nav'>
		  	  <a class='sidebar-link base-link v-block'>
		  	  	<div class='v-centered sidebar-icon-container'>
		  		  <span class="v-centered sidebar-icon"><i class="fa fa-users"></i></span>
		  		</div>
		  		<div class='v-centered sidebar-label-container'>
		  		  <span class="v-centered">Team</span>
		  		</div>
		  	  </a>
		    </li>
		    <li class='nav'>
		  	  <a class='sidebar-link base-link v-block'>
	  		  	<div class='v-centered sidebar-icon-container'>
		  		  <span class="v-centered sidebar-icon"><i class="fa fa-usd"></i></span>
		  		</div>
		  		<div class='v-centered sidebar-label-container'>
		  		  <span class="v-centered">Pricing</span>
		  		</div>
		  	  </a>
		    </li>
		    <li class='nav'>
		  	  <a class='sidebar-link base-link v-block'>
		  		  <div class='v-centered sidebar-icon-container'>
			  		  <span class="v-centered sidebar-icon"><i class="fa fa-mobile"></i></span>
			  		</div>
			  		<div class='v-centered sidebar-label-container'>
			  		  <span class="v-centered">Contact</span>
			  		</div>
		  	  </a>
		    </li>
		</ul>
	</div>	
</template>