.landing-header {
    position: fixed;
    top: 0;
    width: 100%;
    height: 550px;
    z-index: -1;
    box-shadow: 0 0 5px rgba(0, 0, 0, .2);
    background-color: rgba(0,0,0,0.85);
    background-image: url('/img/Background.png');
    background-repeat: no-repeat;
    background-size: 100% 100%;
}

.landing-header-content {
    width: 100%;
    padding-top: 180px;
}

.landing-logo-row{
    width: 100%;
    text-align: center;
}
.landing-logo-container{
    max-height: 100px;
    margin: 0 auto;
    position: relative;
}
.landing-logo{
  margin: 0 auto;
  object-fit: contain;
  width: auto;
  max-height: 100%;
  max-width: 650px;
}

.tagline {
    font-size: 26px;
    margin-top: 25px;
    margin-bottom: 50px;
    line-height: 26px;
    color: var(--gray-text);
    text-align: center;
    font-family: 'ProximaNova-Regular', sans-serif !important;
}

#tagline-cont {
    margin-top: 40px;
    text-align: center;
    margin-bottom: 20px;
}

.landing-button-cont{
	margin: 0 auto;
	position:relative;
	margin-top: 20px;
	margin-bottom: 20px;
	text-align: center;
}

.landing-button{
    font-family: "ProximaNova-Light" !important;
    border-radius: 1px !important;
    font-size: 18px !important;
    padding: 14px 14px 14px 14px !important;
    background-color: var(--orange-theme) !important;
    color: var(--blackolive-theme) !important;
    height: auto !important;

    line-height: 1.2rem;
    user-select: none;
    text-decoration: none;
    cursor: pointer;
    text-shadow: none;
    border: none;

    position: relative;
    display: inline-block;
    vertical-align: bottom;
    text-align: center;
    white-space: nowrap;
    margin: 0;
    -webkit-appearance: none;
    -webkit-tap-highlight-color: transparent;
}

.landing-button:hover, .landing-button:focus{
    background-color: var(--orange-theme-hover) !important;
}