.landing-header {
    position: fixed;
    top: 0;
    width: 100%;
    height: 550px;
    z-index: -1;
    box-shadow: 0 0 5px rgba(0, 0, 0, .2);
    background-color: rgba(0,0,0,0.85);
    background-image: url('/img/BackgroundClipped.png');
    background-repeat: no-repeat;
    background-size: 100% 100%;
}

@-webkit-keyframes bouncex {
  0% {
    -webkit-transform:translateX(-10%);
  }
  5% {
    -webkit-transform:translateX(-6%);
  }
  10% {
    -webkit-transform:translateX(-4%);
  }
  15% {
    -webkit-transform:translateX(-2%);
  }
  25% {
    -webkit-transform:translateX(0%);
  }
  30% {
    -webkit-transform:translateX(2%);
  }
  35% {
    -webkit-transform:translateX(4%);
  }
  40% {
    -webkit-transform:translateX(6%);
  }
  40% {
    -webkit-transform:translateX(8%);
  }
  45% {
    -webkit-transform:translateX(6%);
  }
  50% {
    -webkit-transform:translateX(4%);
  }
  55% {
    -webkit-transform:translateX(2%);
  }
  60% {
    -webkit-transform:translateX(0%);
  }
  65% {
    -webkit-transform:translateX(1%);
  }
  70% {
    -webkit-transform:translateX(2%);
  }
  75% {
    -webkit-transform:translateX(3%);
  }
  80% {
    -webkit-transform:translateX(4%);
  }
  85% {
    -webkit-transform:translateX(3%);
  }
  90% {
    -webkit-transform:translateX(2%);
  }
  95% {
    -webkit-transform:translateX(1%);
  }
  100% {
    -webkit-transform:translateX(0%);
  }
}

.bounce{
    -webkit-animation: bouncex 500ms ease-in-out;
    -moz-animation: bouncex 500ms ease-in-out;
    -o-animation: bouncex 500ms ease-in-out;
    animation: bouncex 500ms ease-in-out;
}

.landing-header-content {
    width: 100%;
    padding-top: 180px;
}

.landing-logo-container{
    position:relative;

    max-height: 100px;
    position: relative;
    max-width: 650px;
}

.landing-logo-container-center {
    margin: 0 auto;
}

.landing-logo-container-left {
    margin-left: 15%;
}

.landing-logo{
  margin: 0 auto;
  object-fit: contain;
  width: auto;
  max-height: 100%;
  max-width: 100%;

  -webkit-transition:all 1s; 
}

.landing-tagline-row{
    margin-top: 25px;
    margin-bottom: 50px;
}

.landing-tagline-container {
    position:relative;
    max-height: 25px;
    position: relative;
    max-width: 650px;

    -webkit-transition:all 1s; 
}

.landing-tagline-container-center {
    margin: 0 auto;
}
.landing-tagline-container-left {
    margin-left: 18%;
}


.landing-tagline {
    max-height: 100%;
    max-width: 100%;

    font-size: 26px;
    line-height: 26px;
    color: var(--gray-text);
    font-family: 'ProximaNova-Regular', sans-serif !important;
    text-align: center;
}

.beta-form-container{
    position:absolute;
    width: 300px;
    right: -500px;
    top: 90px;
}

.beta-form{
    position: relative;
    background-color: rgba(255,255,255,0.08);
    border-radius: 3px;
    padding: 25px;
}

.beta-blurb{
  font-size: 16px;
  font-weight: 400 !important;
  font-family: 'ProximaNova-Light', sans-serif !important;
  -webkit-font-smoothing: antialiased;
  text-shadow: none !important;
  text-align: left;
  color: #FFF !important;
  line-height: 1.4 !important;
  margin-top: 0px !important;
}

.beta-close-button{
    font-size: 16px;
    line-height: 20px;
    font-family: 'ProximaNova-Regular', sans-serif !important;
    float:right;
    width: 36px !important;
    height: 36px !important;
    border: 1px solid #FFF !important;
    text-align: center;
    border-radius: 999px;
    color: #FFF !important;
    padding: 8px 5px 8px 5px !important;
    background-color: transparent !important;
    z-index:1000;
}

.beta-close-button:hover, .beta-close-button:focus{
    background-color: rgba(255,255,255,0.65) !important;
    color:  #FFF !important;

    -webkit-transition: 0.3s ease-in-out;
   -moz-transition: 0.3s ease-in-out;
   -o-transition: 0.3s ease-in-out;
   transition: 0.3s ease-in-out;
}


.beta-input{
  height: auto !important;
  border-radius: 3px !important;
  padding-left: 8px !important;
  font-size: 14px !important;

  margin-top: 15px;
  width: 100%;

  font-family: 'ProximaNova-Regular', sans-serif !important;
  border: 0.1rem solid rgba(0,0,0,0.65) !important;
  
  padding-top: 7px;
  padding-bottom: 7px;
  color: var(--landing-background) !important;
}

.beta-submit{
  height: auto !important;
  border-radius: 5px !important;
  width: 100%;

  color: var(--gray-text) !important;
  border: 0.1rem solid var(--gray-text) !important;

  font-size: 16px !important;
  background: #2b2b31 !important;

  padding-top: 10px !important;
  padding-bottom: 10px !important;
  margin-top: 50px;
}

.beta-submit:hover, .contact-submit:focus {
  background-color: rgba(255,255,255,0.65) !important;
    color:  #FFF !important;

    -webkit-transition: 0.3s ease-in-out;
   -moz-transition: 0.3s ease-in-out;
   -o-transition: 0.3s ease-in-out;
   transition: 0.3s ease-in-out;
}

#tagline-cont {
    margin-top: 40px;
    text-align: center;
    margin-bottom: 20px;
}

.landing-button-cont{
	margin: 0 auto;
	position:relative;
	margin-top: 20px;
	margin-bottom: 20px;
	text-align: center;
}

.landing-button{
    font-family: "ProximaNova-Light" !important;
    border-radius: 1px !important;
    font-size: 18px !important;
    padding: 14px 14px 14px 14px !important;
    background-color: var(--orange-theme) !important;
    color: var(--blackolive-theme) !important;
    height: auto !important;

    line-height: 1.2rem;
    user-select: none;
    text-decoration: none;
    cursor: pointer;
    text-shadow: none;
    border: none;

    position: relative;
    display: inline-block;
    vertical-align: bottom;
    text-align: center;
    white-space: nowrap;
    margin: 0;
    -webkit-appearance: none;
    -webkit-tap-highlight-color: transparent;
}

.landing-button:hover, .landing-button:focus{
    background-color: var(--orange-theme-hover) !important;
}