.landing-content {
    margin: 550px 0 0 0;
    z-index: 3;
    padding-top: 20px;
    color: #FFF !important;
    background-color: var(--landing-background) !important;
}

.landing-container {
    max-width: 1500px;
    min-width: 80%;
    margin: 0 auto;
    position: relative;
    display: flex;
}

.separator-container {
  max-width: 1500px;
    min-width: 80%;
  margin: 0 auto;
  position: relative;
  margin-top: 75px;
}

.landing-container:not(:first-child){
  margin-top: 70px;
}
.landing-container:not(:last-child){
  margin-bottom: 50px;
}

.column{
  margin-top: 0;
  margin-bottom: 0;
  flex:1;
}

.left-column{
  margin-right: auto;
  padding-right: 50px;
  padding-left: 50px;
}

.right-column{
  margin-left: auto;
  padding-left: 50px;
  padding-right: 50px;
}

.column-image-container{
  padding-top: 20px; 
  padding-bottom:20px; 
  line-height: 1; 
  max-height: 100%; 
  width: 100%;
}


.column .item:not(:first-child){
  margin-top: 25px;
}

.mission-container{
  margin-top: 15px;
  margin-bottom: 15px;
}

.screenshot{
  margin: 0 auto;
  object-fit: contain;
  height: auto;
  max-width: 100%;
}

.screenshot-restrict-height{
  margin: 0 auto;
  object-fit: contain;
  max-height: 500px;
  width: auto;
}

.landing-container-wide {
    max-width: 1370px;
    margin: 0 auto;
    position: relative;
}

.three-row-item-container{
  display: flex; 
  margin: 0 auto;
  padding-left: 45px;
  padding-right: 45px;
}

.three-row-item {
  min-width: 350px;
  max-width: 375px;
}

.three-row-item:not(:first-child){
  margin-left: 25px;
}
.three-row-item:not(:first-child){
  margin-right: 25px;
}

.three-column-item {

}

.icon-container{
  height: 80px; 
  width: 80px; 
  position: relative; 
}
.icon-image{
  max-height: 100%; 
  height: auto; 
  margin: 0 auto;
  object-fit: contain;
}


.landing-banner {
    background-color: var(--orange-theme);
    color: var(--gray-text) !important;
    margin-top: 25px;
    margin-bottom: 25px;
    display: flex;
    padding-top: 8px;
    padding-bottom: 8px;
    box-shadow: 1px 1px 2px rgba(209, 213, 216, 0.1);

    background-image: url('/img/BackgroundBanner.png');
    background-repeat: no-repeat;
    background-size: 100% 100%;
}

.contact-banner {
    flex: 1;
    border-radius: 8px;
    background-color: var(--orange-theme);
    color: var(--gray-text) !important;
    margin-top: 15px;
    margin-bottom: 25px;
    padding-left: 15px;
    padding-right: 15px;
    padding-top: 25px;
    padding-bottom: 25px;
    box-shadow: 1px 1px 2px rgba(209, 213, 216, 0.1);
    max-width: 420px;

    background-image: url('/img/BackgroundContact.png');
    background-repeat: no-repeat;
    background-size: 100% 100%;
}

.landing-banner-row{
    display: flex;
    margin: 0 auto;
}

.landing-banner-item {
    width: 210px;
    margin-left: 15px;
    margin-right: 15px;
    color: var(--offwhite-theme);
    padding: 7px;
}

.landing-banner-item img {
    color: var(--landing-background);
    height: 100%; 
    width: 100%; 
    object-fit: contain;
}

.landing-banner-item .banner-icon {
    color: var(--offwhite-theme);
    border-top: none !important;
    font-size: 35px;
    margin: 0 auto;
    margin-bottom: 15px;
    margin-top: 15px;
}

.banner-number {
    color: var(--offwhite-theme);
    border-top: none !important;
    font-size: 45px;
    text-align: center;

    font-weight: 300 !important;
    font-family: 'Roboto-Light', sans-serif !important;
    margin-top: 10px;
    margin-bottom: 10px;
}

.banner-text {
    color: var(--offwhite-theme);
    border-top: none !important;
    margin-top: 25px;
    font-size: 18px;
    text-align: center;

    font-weight: 600 !important;
    font-family: "Lucida Grande", "Lucida Sans Unicode", "Lucida Sans", Tahoma, sans-serif;
    margin-top: 10px;
    margin-bottom: 10px;

}


