.icon_search_wrapper,.search_clear_icon_wrapper{
	width:30px;
	padding-left:5px;
}

.icon{
	font-size:20px !important;
	width:25px;
	height:25px;
	line-height:25px !important;
	text-align: center !important;
}

.icon-small{
	font-size:14px !important;
	width:14px;
	height:14px;
	line-height:14px !important;
	text-align: center !important;
}

.icon-blue:not(:hover){
	color: var(--base-color);
}
.label-primary{
	background-color: var(--base-color) !important;
}

.sidebar-icon{
  font-size:20px;
  line-height:25px !important;
  height: 25px !important;
  width: 25px !important;
  text-align: center !important;
}

.input-icon{
    font-size:16px;
    right:-6px;
	bottom:-2px;
	width:22px;
	height:22px;
	line-height:18px !important;
	padding:1px 8px;
}

.counter {
	height: 100%;
    background-color: var(--orange);
    margin-left: 2px;
    font-size: 14px;
    font-weight: 400 !important;
    font-family: 'Roboto-ProximaNova', sans-serif !important;
}

.calendar-addon {
	background-color: rgba(57,155,255,0.75) !important;
	width: 30px !important;
	height: 30px !important;
	border: none !important;
	padding: 7px 8px 7px 8px !important;
	font-size: 14px !important;
	display: table-cell !important;
}
