.navbar-top {
  height: 65px;
  background: rgba(0,0,0,0.0);
  width: 100%;
  position: fixed;
  z-index: 900;
  top: 0
}

.applogo {
	width: 150px;
	height: 60px;
	color: var(--primary-yellow);
	position: relative;
	padding: 19px 0 0 0px;
	float: left;
	text-align: center
}

.applogo .logo {
	color: var(--primary-yellow);
	font-size: 20px;

  font-weight: 400 !important;

  -webkit-font-smoothing: antialiased;
  text-shadow: none !important;
}

.applogo .logo span {
  color: #FFF;
  font-size: 20px;

  font-weight: 400 !important;

  -webkit-font-smoothing: antialiased;
  text-shadow: none !important;
}

.menu-img{
  width: 30px;
  height: 30px;
  margin: auto;

  object-fit: cover;
  margin-top: 15px;
}

.menu-item-container {
  float: left;
  display: flex;
  height: 100% !important;
  color: var(--primary-yellow);
  padding-right: 20px;
  padding-left: 10px;
  padding-top: 15px;
  padding-bottom: 15px;

  margin: 0 !important;

  font-weight: 500;
  font-size: 16px;

}

.signup-container {
  float: right;
  display: flex;
  height: 100% !important;
  color: var(--primary-yellow);
  padding-right: 20px;
  padding-left: 10px;
  padding-top: 15px;
  padding-bottom: 15px;

  margin: 0 !important;

  font-weight: 500;
  font-size: 15px;

}
.menu-button{
  margin-left: 10px;
  color: var(--gray-text);
  font-family: "Trebuchet MS", "Lucida Grande", "Lucida Sans Unicode", "Lucida Sans", Tahoma, sans-serif !important;
  font-style: normal;
  font-variant: normal;
  font-weight: 400 !important;
}

#navbar-small-dropdown-menu{
  padding: 15px;
  min-width:200px;
}


