@media screen and (max-width: 1620px) {
	.left-column{padding-left: 80px !important; padding-right: 35px !important;}
	.right-column{padding-right: 80px !important; padding-left: 35px !important;}
	.header-container{margin-left: 80px !important; margin-right: 80px !important;}
}

@media screen and (max-width: 1440px) {
	.left-column{padding-left: 80px; padding-right: 35px;}
	.right-column{padding-right: 80px; padding-left: 35px;}
	.landing-content{position: absolute !important;}
}

/* =================================================================================
Smaller Than 1280
================================================================================= */
@media screen and (max-width: 1280px) {
	.signup-container{display: none !important;}
}

/* =================================================================================
Smaller Than 1024
================================================================================= */
@media screen and (max-width: 1024px) {
	.profilebox b{display: none;}
	.searchform{display: none;}
	.sidebar{display: none;}
	.content{margin-left: 0 !important;}
	.sidebar-open-button{display: none;}
	.sidebar-open-button-mobile{display: block;}
	.social-stats{bottom: 100px;}
	.topstats li{width: 33%;}
	.demo-sidebarmenu .sidebar{display: block;}
}

/* =================================================================================
Smaller Than 768 - Tablet
================================================================================= */
@media screen and (max-width: 768px;) {
	.signup-container{display: none;}
	.landing-banner-item{width: 160px;}
	.banner-text {font-size: 14px !important;}
	.banner-number {font-size: 24px !important;}
	.item-text-center {font-size: 14px !important;}
	.item-text-left {font-size: 14px !important;}
	.item-text-right {font-size: 14px !important;}
	.blurb {font-size: 14px !important;}
	.blurb-header-yellow{font-size: 20px !important;}
	.blurb-header{font-size: 20px !important;}
	.item-header{font-size:18px !important;}
	.item-header-top-border{font-size:18px !important;}
}

@media only screen and (min-device-width: 375px) and (max-device-width: 667px) and (orientation : portrait) { 
    /* iPhone 6 Portrait */ 
}


@media only screen and (min-device-width: 375px) and (max-device-width: 667px) and (orientation : landscape) { 
    /* iPhone 6 landscape */
}


@media only screen and (min-device-width: 414px) and (max-device-width: 736px) and (orientation : portrait) { 
    /* iPhone 6+ Portrait */
}


@media only screen and (min-device-width: 414px) and (max-device-width: 736px) and (orientation : landscape) { 
    /* iPhone 6+ landscape */
    
}

@media only screen and (max-device-width: 640px), only screen and (max-device-width: 667px), only screen and (max-width: 480px){ 
    /* iPhone 6 and iPhone 6+ portrait and landscape */
    .flex-alternate{
    	display:block;
    }
    .flex-reverse-alternate{
    	display:block;
    }
    .landing-header{
		height: 850px;
	}
	.landing-content {
    	margin: 850px 0 0 0;
	}
    .landing-header-content {
	    width: 100%;
	    padding-top: 280px;
	}
	.menu-item-container button{
	    font-size: 38px;
	    margin-top: 15px;
	    margin-left: 20px;
	}
	.landing-logo-container{
		max-width: 850px;
		max-height: 140px;
	}
	.landing-tagline-row {
	    margin-top: 45px;
	    margin-bottom: 10px;
	}
	.landing-tagline-container {
		max-width: 850px;
	}
	.landing-tagline {
	    font-size: 34px;
	    line-height: 34px;
	}
	.landing-button-cont {
	    margin: 0 auto;
	    position: relative;
	    margin-bottom: 20px;
	    text-align: center;
	    margin-top: 80px;
	}
	.landing-button{
	    color: var(--landing-background) !important;
	    font-size: 30px !important;
	    line-height: 30px;
	    padding-top: 20px !important;
	    padding-bottom: 20px !important;
	    padding-left: 20px !important;
	    padding-right: 20px !important;
	}
	.header-center {
	    font-size: 34px;
	}
	.header-left{
		font-size: 34px;
	}
	.left-column .item {
		margin: 0 auto;
	}
	.item-header {
	    font-size: 30px;
	}
	.item-header-top-border{
		font-size: 30px;
	}
	.risk-mgmt-header{
	  width: 245px;
	}
	.beat-header{
		width:310px;
	}
	.asset-alloc-header{
	  width: 230px;
	}
	.trading-int-header{
	  width: 280px;
	}
	.item-text-left {
	    font-size: 26px;
	    line-height: 1.4 !important;
	    margin-top: 22px;
	}
	.item-text-center {
	    font-size: 26px;
	    line-height: 1.4 !important;
	    margin-top: 22px;
	    text-align: center;
	}
	.icon-container{
		margin-top: 40px;
		margin-right: 55px;
	}
	.item-text-container-image-left {
	    max-width: 760px; 
	    padding-left: 55px;
	}
	.landing-container:not(:last-child) {
	    margin-bottom: 70px;
	}
	.landing-container:not(:first-child) {
	    margin-top: 90px;
	}
	.mission {
	    font-size: 28px;
	    font-family: "Trebuchet MS", "Lucida Grande", "Lucida Sans Unicode", "Lucida Sans", Tahoma, sans-serif;
  		font-style: normal;
  		font-variant: normal;
  		font-weight: 300 !important;
	}
	.right-column {
	    padding-right: 80px !important;
	    padding-left: 80px !important;
	    margin-top: 80px;
	}
	.left-column {
	    padding-right: 80px !important;
	    padding-left: 80px !important;
	    margin-top: 20px;
	}
	.landing-banner{
		margin-top: 45px;
		margin-bottom: 45px;
	}
	.three-row-item {
	    min-width: 720px;
	    max-width: 760px;
	}
	.three-row-item:not(:first-child){
		margin-top: 50px;
	}
	.blurb-header-yellow {
	    font-size: 32px;
	    margin-top: 45px;
	}
	.blurb{
		font-size: 26px;
	    line-height: 1.4 !important;
	}
	.transparency-container{
		padding-right: 0px;
	}
	.social-link-container {
	  float:none !important;
	  margin-top: 0px; 
	  position:relative; 
	  bottom: 0px;
	}
	.social-link {
	    text-align: center;
	    margin-left: 25px;
	    margin-right: 25px;
	    flex: 1;
	    max-width: 100px;
	    color: var(--gray-text) !important;
	}
	.social-link div {
	    border: 0.15rem solid #ffe762 !important;
	    border-radius: 999px;
	    width: 100px;
	    height: 100px;
	    color: var(--gray-text) !important;
	}
	.social-link div i {
	    font-size: 58px;
	    line-height: 100px;
	    margin: 0 auto;
	    color: var(--gray-text) !important;
	}
	.social-links {
	    float: none !important;
	    margin: 0 auto;
	    position: relative;
	    width: 600px;
	    margin-top: 40px;
	    margin-bottom: 40px;
	}
	.contact-column{
	  max-width: 100%; 
	  display:block;
	}
	.contact-blurb {
	    font-size: 26px;
	}
	.contact-submit{
		font-size: 26px !important;
	    padding-top: 12px !important;
	    padding-bottom: 12px !important;
	    padding-left: 20px !important;
	    padding-right: 20px !important;
	}
	.contact-input {
		height: auto !important;
	    border-radius: 5px !important;
	    padding-left: 10px !important;
	    font-size: 24px !important;
	    line-height: 24px !important;
	    width: 100%;
	    border: 0.1rem solid rgba(0,0,0,0.65) !important;
	    padding-top: 14px;
	    padding-bottom: 14px;
	    color: var(--landing-background) !important;
	}
	.footer-left{
		width: 50%;
	}

	#contact-email-error:before {
	    font-size: 18px !important;
	}

	#contact-name-error:before {
	    font-size: 18px !important;
	}

	#contact-message-error:before {
	    font-size: 18px !important;
	}

	#contact-message-error{
	  font-size: 18px !important;
	  
	}

	#contact-name-error{
	  font-size: 18px !important;
	}

	#contact-email-error{
	  font-size: 18px !important;
	}

	#beta-name-error:before {
	    font-size: 18px !important;
	}

	#beta-email-error:before {
	    font-size: 18px !important;
	}

	#beta-name-error{
	  font-size: 18px !important;
	}
	#beta-email-error{
	  font-size: 18px !important;
	}
	.swal-modal{
		width: 680px;
	}
	.swal-title{
		font-size: 32px;
	}
	.swal-text{
		font-size: 24px;
	}
	.swal-button {
	    font-size: 24px;
	    padding-top: 14px;
	    padding-bottom: 14px;
	    padding-left: 28px;
	    padding-right: 28px;
	    color: black;
	}
	.questions-header{
		width: 340px;
	}
	.landing-header-content-with-beta-form {
	    padding-top: 140px !important;
	}
	.beta-form-showing {
	    margin-top: 90px;
	}
	.beta-form-container{
		width: 550px;
	}
	.beta-submit, .beta-cancel{
	    font-size: 26px !important;
	    padding-top: 12px !important;
	    padding-bottom: 12px !important;
	    padding-left: 20px !important;
	    padding-right: 20px !important;
	}
	.beta-submit {
		margin-right: 10px;
	}
	.beta-cancel {
		margin-left: 10px;
	}
	.beta-input {
	    height: auto !important;
	    border-radius: 5px !important;
	    padding-left: 10px !important;
	    font-size: 24px !important;
	    line-height: 24px !important;
	    width: 100%;
	    border: 0.1rem solid rgba(0,0,0,0.65) !important;
	    padding-top: 14px;
	    padding-bottom: 14px;
	    color: var(--landing-background) !important;
	}
	.beta-form-group{
	  margin-top: 15px; 
	  margin-bottom: 10px;
	  margin-left: 10px;
	  margin-right: 10px;
	}
	.beta-form-group:not(:first-child){
	  margin-top: 25px;
	}
}

@media only screen and (max-device-width: 640px), only screen and (max-device-width: 667px), only screen and (max-width: 480px) and (orientation : portrait){ 
    /* iPhone 6 and iPhone 6+ portrait */
}

@media only screen and (max-device-width: 640px), only screen and (max-device-width: 667px), only screen and (max-width: 480px) and (orientation : landscape){ 
    /* iPhone 6 and iPhone 6+ landscape */
}
/* =================================================================================
Smaller Than 414 - iPhone 6 Plus
================================================================================= */
@media screen and (max-width: 435px) {
	
	.signup-container{display: none;}
	.landing-banner-item{width: 160px;}
	.banner-text {font-size: 14px !important;}
	.banner-number {font-size: 24px !important;}
	.item-text-center {font-size: 14px !important;}
	.item-text-left {font-size: 14px !important;}
	.item-text-right {font-size: 14px !important;}
	.blurb {font-size: 14px !important;}
	.blurb-header-yellow{font-size: 20px !important;}
	.blurb-header{font-size: 20px !important;}
	.item-header{font-size:18px !important;}
	.item-header-top-border{font-size:18px !important;}
}

/* =================================================================================
smaller than 428
================================================================================= */
@media screen and (max-width: 428px) {
	.navbar-top-login{display: none;}
	.applogo{
		padding-left: 0;
		background: none;
		display: block;
		position: absolute;
		width: 100%;
		z-index: -4;
	}
	.topstats li{width: 100%;}
}
