/* ================================================
  Colors
================================================ */
:root {
    --landing-separator : #eef1fb;

    --blackolive-theme : rgba(43,43,49,1.0);
    --landing-background : var(--blackolive-theme);

    --blue-theme : rgba(79,98,181,1.0);
    --blue-theme-hex : #4f62b5;

    --yellow-bland-theme : rgba(247,226,105,1.0); 
    --yellow-bland-theme-hex : #F7E269;

    --yellow-theme : #FAF96A;
    --yellow-theme-hex : #FAF96A;

    --red-theme : rgba(209,85,97,1.0); 
    --red-theme-hex : #D15561;

    --offwhite-theme : rgba(253,255,252,1.0);
    --offwhite-theme-hex : #FDFFFC;

    --orange-theme : rgba(238,162,84,1.0); 
    --orange-theme-hex : #eea254;
    --orange-theme-hover : rgba(238,162,84,0.6); 

    --gray-text : #bbb8b8;
    --primary-text-color : var(--blackolive-theme);
    --secondary-text-color : #6f6f6f;
}


/* ================================================
  Fonts
================================================ */
@font-face {
    font-family: "Aileron-Bold";
    src: local('Aileron-Bold'), url("Aileron-Bold.ttf") format('truetype');
}
@font-face {
    font-family: "Aileron-BoldItalic";
    src: local('Aileron-BoldItalic'), url("Aileron-BoldItalic.ttf") format('truetype');
}
@font-face {
    font-family: "Aileron-Italic";
    src: local('Aileron-Italic'), url("Aileron-Italic.ttf") format('truetype');
}
@font-face {
    font-family: "Aileron-Light";
    src: local('Aileron-Light'), url("Aileron-Light.ttf") format('truetype');
}
@font-face {
    font-family: "Aileron-Regular";
    src: local('Aileron-Regular'), url("Aileron-Regular.ttf") format('truetype');
}
@font-face {
    font-family: "Aileron-Thin";
    src: local('.Aileron-Thin'), url("Aileron-Thin.ttf") format('truetype');
}
@font-face {
    font-family: "Aileron-SemiBold";
    src: local('Aileron-SemiBold'), url("Aileron-SemiBold.ttf") format('truetype');
}

@font-face {
    font-family: "RobotoCondensed-Bold";
    src: local('RobotoCondensed-Bold'), url("RobotoCondensed-Bold.ttf") format('truetype');
}
@font-face {
    font-family: "RobotoCondensed-BoldItalic";
    src: local('RobotoCondensed-BoldItalic'), url("RobotoCondensed-BoldItalic.ttf") format('truetype');
}
@font-face {
    font-family: "RobotoCondensed-Italic";
    src: local('RobotoCondensed-Italic'), url("RobotoCondensed-Italic.ttf") format('truetype');
}
@font-face {
    font-family: "RobotoCondensed-Light";
    src: local('RobotoCondensed-BoldItalic'), url("RobotoCondensed-BoldItalic.ttf") format('truetype');
}

@font-face {
    font-family: "RobotoCondensed-Regular";
    src: local('RobotoCondensed-Regular'), url("RobotoCondensed-Regular.ttf") format('truetype');
}

@font-face {
    font-family: "Roboto-Regular";
    src: local('Roboto-Regular'), url("Roboto-Regular.ttf") format('truetype');
}
@font-face {
    font-family: "Roboto-BoldItalic";
    src: local('Roboto-BoldItalic'), url("Roboto-BoldItalic.ttf") format('truetype');
}
@font-face {
    font-family: "Roboto-Italic";
    src: local('Roboto-Italic'), url("Roboto-Italic.ttf") format('truetype');
}
@font-face {
    font-family: "Roboto-Light";
    src: local('Roboto-Light'), url("Roboto-Light.ttf") format('truetype');
}

@font-face {
    font-family: "Roboto-Regular";
    src: local('Roboto-Regular'), url("Roboto-Regular.ttf") format('truetype');
}
@font-face {
    font-family: "Roboto-Thin";
    src: local('Roboto-Thin'), url("Roboto-Thin.ttf") format('truetype');
}
@font-face {
    font-family: "Roboto-Medium";
    src: local('Roboto-Medium'), url("Roboto-Medium.ttf") format('truetype');
}

@font-face {
    font-family: "ProximaNova-Regular";
    src: local('ProximaNova-Regular'), url("ProximaNova-Regular") format('truetype');
}

@font-face {
    font-family: "ProximaNova-Bold";
    src: local('ProximaNova-Bold'), url("ProximaNova-Bold") format('truetype');
}

@font-face {
    font-family: "ProximaNova-Thin";
    src: local('ProximaNova-Thin'), url("./ProximaNova-Thin") format('truetype');
}

@font-face {
    font-family: "ProximaNova-SemiBold";
    src: local('ProximaNovaCondensed-SemiBold'), url("ProximaNovaCondensed-SemiBold") format('truetype');
}

/* ================================================
  Plugins
================================================ */
/* Bootstrap Main Css File (unedited) */
@import url('plugins/bootstrap.css');

@import url('plugins/awesome-bootstrap-checkbox/awesome-bootstrap-checkbox.css');
@import url('plugins/bootstrap-select/bootstrap-select.css');
@import url('plugins/bootstrap-toggle/bootstrap-toggle.min.css');

/* Bootstrap wysihtml5 */
@import url('plugins/bootstrap-wysihtml5/bootstrap-wysihtml5.css');

/* Summernote */
@import url('plugins/summernote/summernote.css');
@import url('plugins/summernote/summernote-bs3.css');

/* Sweet Alert */
@import url('plugins/sweet-alert/sweet-alert.css');
@import url('plugins/datatables/datatables.css');

/* Chartist */
@import url('plugins/chartist/chartist.min.css');

/* Rickshaw */
@import url('plugins/rickshaw/rickshaw.css');
@import url('plugins/rickshaw/detail.css');
@import url('plugins/rickshaw/graph.css');
@import url('plugins/rickshaw/legend.css');

@import url('plugins/date-range-picker/daterangepicker-bs3.css');
@import url('plugins/fullcalendar/fullcalendar.css');

@import url('/charts.css');
@import url('/icons.css');
@import url('loading.css');
@import url('buttons.css');
@import url('tooltip.css');
@import url('search.css');
@import url('tables.css');

@import url('brand.css');
@import url('base.css');

@import url('responsive.css');


@import url('plugins/font-awesome.min.css');





