:root {
    --landing-separator : #eef1fb;

    --blackolive-theme : rgba(43,43,49,1.0);
    --landing-background : var(--blackolive-theme);

    --blue-theme : rgba(79,98,181,1.0);
    --blue-theme-hex : #4f62b5;

    --yellow-bland-theme : rgba(247,226,105,1.0); 
    --yellow-bland-theme-hex : #F7E269;

    --yellow-theme : #FAF96A;
    --yellow-theme-hex : #FAF96A;

    --red-theme : rgba(209,85,97,1.0); 
    --red-theme-hex : #D15561;

    --offwhite-theme : rgba(253,255,252,1.0);
    --offwhite-theme-hex : #FDFFFC;

    --orange-theme : rgba(238,162,84,1.0); 
    --orange-theme-hex : #eea254;
    --orange-theme-hover : rgba(238,162,84,0.6); 

    --gray-text : #ddd;
    --primary-text-color : var(--blackolive-theme);
    --secondary-text-color : #6f6f6f;
}

@font-face {
    font-family: "RobotoCondensed-Bold";
    src: local('/font/RobotoCondensed-Bold'), url("./font/RobotoCondensed-Bold.ttf") format('truetype');
}
@font-face {
    font-family: "RobotoCondensed-BoldItalic";
    src: local('/font/RobotoCondensed-BoldItalic'), url("./font/RobotoCondensed-BoldItalic.ttf") format('truetype');
}
@font-face {
    font-family: "RobotoCondensed-Italic";
    src: local('/font/RobotoCondensed-Italic'), url("./font/RobotoCondensed-Italic.ttf") format('truetype');
}
@font-face {
    font-family: "RobotoCondensed-Light";
    src: local('/font/RobotoCondensed-BoldItalic'), url("./font/RobotoCondensed-BoldItalic.ttf") format('truetype');
}

@font-face {
    font-family: "RobotoCondensed-Regular";
    src: local('/font/RobotoCondensed-Regular'), url("./font/RobotoCondensed-Regular.ttf") format('truetype');
}

@font-face {
    font-family: "Roboto-Regular";
    src: local('/font/Roboto-Regular'), url("./font/Roboto-Regular.ttf") format('truetype');
}
@font-face {
    font-family: "Roboto-BoldItalic";
    src: local('/font/Roboto-BoldItalic'), url("./font/Roboto-BoldItalic.ttf") format('truetype');
}
@font-face {
    font-family: "Roboto-Italic";
    src: local('/font/Roboto-Italic'), url("./font/Roboto-Italic.ttf") format('truetype');
}
@font-face {
    font-family: "Roboto-Light";
    src: local('/font/Roboto-Light'), url("./font/Roboto-Light.ttf") format('truetype');
}

@font-face {
    font-family: "Roboto-Regular";
    src: local('/font/Roboto-Regular'), url("./font/Roboto-Regular.ttf") format('truetype');
}
@font-face {
    font-family: "Roboto-Thin";
    src: local('/font/Roboto-Thin'), url("./font/Roboto-Thin.ttf") format('truetype');
}
@font-face {
    font-family: "Roboto-Medium";
    src: local('/font/Roboto-Medium'), url("./font/Roboto-Medium.ttf") format('truetype');
}

@font-face {
    font-family: "ProximaNova-Regular";
    src: local('/font/ProximaNova-Regular'), url("./font/ProximaNova-Regular") format('truetype');
}

::-webkit-scrollbar {
      width: 8px !important;
      height: 8px !important;
      background-color: rgba(0,0,0,0);
      -webkit-border-radius: 100px;
}
::-webkit-scrollbar:hover {
    background-color: rgba(0, 0, 0, 0.09);
}
 
::-webkit-scrollbar-thumb:horizontal {
      background: rgba(0,0,0,0.5);
      -webkit-border-radius: 100px;
      background-clip: padding-box;
      border: 2px solid rgba(0, 0, 0, 0);
      height: 8px !important;
}
::-webkit-scrollbar-thumb:vertical {
      background: rgba(0,0,0,0.5);
      -webkit-border-radius: 100px;
      background-clip: padding-box;
      border: 2px solid rgba(0, 0, 0, 0);
      width: 8px !important;
}

::-webkit-scrollbar-thumb:active {
  background: rgba(0,0,0,0.61);
  -webkit-border-radius: 100px;
}

html {-webkit-font-smoothing: antialiased;}
@media only screen and (-webkit-min-device-pixel-ratio: 1.25), only screen and ( min-device-pixel-ratio: 1.25), only screen and ( min-resolution: 200dpi), only screen and ( min-resolution: 1.25dppx) {     -webkit-font-smoothing: subpixel-antialiased; } 



